body {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color:  #9aafa3;
}

/* */

img {
  max-width: 100%;
}

.header_navigation_list {
  margin: 0;

  line-height: 18px;
}

.header_navigation_logo {
  padding-top: 9px;
}

.user_navigation {
  margin-right: 10px;
}

.user_navigation:nth-child(3) {
  margin-right: 0;
  position: relative;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.breadcrumbs {
  padding-top: 15px;
}

.breadcrumbs a {
  text-decoration: none;
  
}

.breadcrumbs__link,
.breadcrumbs__link--active {
  display: inline-block;
  position: relative;
  margin-right: 3px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs_radio {
  margin-right: 4px;
  margin-left: 4px;
}

.time_work p {
  margin: 0;
  margin-top: -6px;
  margin-bottom: 6px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: end;
}

.time_work a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.slider {
  position: relative;

  margin-bottom: 40px;
}

header .slider_title {
  font-size: 60px;
  line-height: 60.35px;
}

header .slider_button {
  font-size: 32px;
  line-height: 44px;
}

.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;


  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.user_navigation > a {
  color: #ffffff;
  text-decoration: none;

  fill: #ffffff;
}

/*--------------------HEADER--------------------------*/

.header_navigation {
  position: relative;
}

.header_navigation_after::after {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 8px;
  left: 14px;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.3);
}

.header_navigation:nth-child(1)::after {
  bottom: 18px;
}

.header_navigation_list {
  position: relative;

  align-items: center;
  margin-right: auto;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.header_navigation > a {
  margin-right: 3px;

  text-decoration: none;
}

/*-------------------------*/

.header_navigation:nth-child(2) {
  margin-right: 5px;
}

.header_navigation > a {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 32px;

  border: 1px solid transparent;
  border-radius: 20px;

  -webkit-box-align: center;

  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.header_navigation:not(.active):hover > a,
.header_navigation:not(.active) > a:focus {
  color: #000000;

  background-color: rgba(255, 255, 255, 1);
  border: 1px solid transparent;
}

.header_navigation:not(.active) > a:active {
    box-shadow: inset 0 3px 8px -3px #000;
}

.header_navigation.dropdown-wrp.active > a {
  border: 1px solid transparent;
} 

.header_navigation:nth-child(2) > a {
  width: 160px;
}

.header_navigation:nth-child(3) > a {
  width: 110px;
}

.sub_menu_list {
  position: absolute;
  top: 50px;
  z-index: 5;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 143px;

  list-style: none;

  background-color: #ffffff;
}

.sub_menu_list {
  display: none;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  border-radius: 5px;
}

.header_navigation:nth-child(1) {
  padding: 10px 0;
}

.header_navigation:nth-child(1):hover .sub_menu_list,
.header_navigation:nth-child(1):focus .sub_menu_list {
  display: block;
}

.modal_menu {
  padding: 10px 20px;

  font-weight: 400;
  color: #000000;
}

.modal_menu a {
  display: block;

  color: #000000;
  text-decoration: none;
}



.modal_menu:nth-child(1) {
  position: relative;

  padding-bottom: 15px;

  font-weight: 700;
}

.modal_menu:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 9px;
  bottom: 0;
  left: 6px;

  border-bottom: 1px solid #d1d0ce;
}

.modal_menu:hover,
.modal_menu:focus {
  background-color: #fbded7;
}

.modal_menu:active {
  background-color: #f6b5a5;
}

.modal_menu:active a {
  color: #ffffff;
}

.modal_menu:first-child:hover,
.modal_menu:first-child:focus {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal_menu:last-child:hover,
.modal_menu:last-child:focus {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal_menu.active {
  color: #ffffff;

  background-color: #d07058;
}

.btn {
  z-index: 3;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 24px;

  background-color: #ff0000;
  background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image:     -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  border: none;
  border-radius: 23px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  opacity: 0.988;
}

/*-----------------------------*/

.container {
  width: 1146px;
  margin: 0 auto;
}

.main_header.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.main_header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  justify-content: space-between;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.header_navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 8px;

  padding-bottom: 8px;
  padding-left: 10px;

  list-style: none;
}

.user_navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-align: center;
}

.user_navigation > a {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  min-height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.user_navigation:nth-child(1):hover > a,
.user_navigation:nth-child(2):hover > a,
.user_navigation:nth-child(1) > a:focus,
.user_navigation:nth-child(2) > a:focus,
.user_navigation:nth-child(3).basket > a {
  background-color: rgba(255, 255, 255, 1);
  fill: #000;
  color: #000;
}

.user_navigation:nth-child(3):hover > a,
.user_navigation:nth-child(3):focus > a {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
  fill: #000;
}

.user-nav-basket-white svg path:first-child {
  fill: transparent;
}

.user-nav-basket-white svg path:last-child{
  fill: #fff;
}

.user-nav-basket-white:hover svg path:first-child {
  fill: #E84D37;
}

.user-nav-basket-white:hover svg path:last-child {
  fill: #000;
}


.user_navigation:nth-child(2) > a {
  width: 93px;
  border-radius: 20px;
}

.user_navigation:nth-child(3) > a {
  width: 117px;
  border-radius: 20px;
}


.user_navigation--basket svg path:first-child{
  fill: transparent;
}
.user_navigation--basket svg path:first-child {
  fill: #E84D37;
}
.user_navigation--basket.active > a {
  background-color: rgba(255, 255, 255, 1);
  color: #323;
  fill: #E84D37;
}


/*------------------------*/

.modal_search_form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 341px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.modal_search_form input {
  width: 310px;
  padding: 9px 15px;

  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 0 gray;
          box-shadow: 0 0 1px 0 gray;
}

/*--------------*/

.dropdown-wrp {
  position: relative;
}

/*-------*/

.user_navigation:nth-child(2),
.user_navigation:nth-child(1),
.user_navigation:nth-child(3) {
  padding: 5px 0;
}

.user_navigation:nth-child(2),
.user_navigation:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.user_navigation:nth-child(2) span {
  padding-left: 6px;
}

.two {
  padding-left: 10px;
}


.user_navigation:nth-child(3):hover .cart-block,
.user_navigation:nth-child(2):hover .modal_login,
.user_navigation:nth-child(1):hover .modal_search,
.user_navigation:nth-child(3):focus .cart-block,
.user_navigation:nth-child(2):focus .modal_login,
.user_navigation:nth-child(1):focus .modal_search {
  display: block;
}

.modal_login,
.modal_search {
  position: absolute;
  top: 41px;
  right: 0;
  z-index: 2;

  display: none;
}

.modal_user_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 277px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.modal_user_form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  margin: 0;
  margin-bottom: 20px;
  padding: 13px 15px;

  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 0 gray;
          box-shadow: 0 0 1px 0 gray;
}

.modal_login_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 13px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.modal_btn {
  width: 100px;
}

.modal_login_btn {
  font-weight: 400;
  line-height: 24px;
  font-style: 13px;
}

.modal_login_list:hover {
  color: #e84d37;
}


.modal {
  position: absolute;
  display: none;
  margin: 0;
  
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.6);
  z-index: 100;
}

.cart-block {
  position: absolute;
  top: 41px;
  right: 0;
  z-index: 20;
  box-sizing: border-box;
  width: 540px;
  padding: 15px 15px 20px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,.4);
}

.cart-item {
  width: 100%;
  border-bottom: 1px solid #cacac7;
}

.cart-item, .cart-item a {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.class-item-size td:first-child {
  width: 20px;
}

.cart-item td {
  padding-right: 5px;
  padding-bottom: 15px;
  vertical-align: middle;
}

.cart-close-button {
  width: 10px;
  height: 10px;
  font-size: 0;
  padding: 0;
  background: url(../img/cross-small.svg);
  background-position: -100px -133px;
  border: none;
  outline: none;
  cursor: pointer;
}

.class-item-size td:nth-child(2) {
  width: 35px;
}

.cart-item a {
  font-weight: 400;
  text-decoration: none;
}

.cart-item img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.class-item-size td:nth-child(3) {
  width: 235px;
  padding-right: 10px;
}

.cart-item span {
  color: #999;
}

.cart-total-price {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.cart-block .cart-submit-button {
  float: right;
  padding-right: 15px;
  padding-left: 15px;
}

.site-button {
  display: inline-block;
  padding: 10px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  background-image: -webkit-linear-gradient(bottom,#ca3824 0%,#f26843 100%);
  background-image: linear-gradient(to top,#ca3824 0%,#f26843 100%);
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 2px 2px rgba(85,8,0,.54);
  cursor: pointer;
}

.site-button:hover,
.site-button:focus {
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}



.site-button:active {
  z-index: 3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
    background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background-image: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/**----------------------------------*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  position: relative;

  min-width: 940px;

  background-color: #849d8f;
  background-image: url("../img/main_1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
       -o-transition: background-image 0.5s ease, background-color 0.5s ease;
          transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/main_2.png");
}

.site-wrapper::after {
  background-image: url("../img/main_3.png");
}

.slider_container {
  position: relative;

  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;

  padding-top: 245px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  position: absolute;
  bottom: 35px;
  left: 115px;
  margin-bottom: 60px;
  width: 710px;

  font-size: 60px;
  line-height: 60px;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image:      -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover,
.btn:hover,
.button:focus,
.btn:focus {
  z-index: 3;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:      -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active,
.btn:active {
  z-index: 3;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image:      -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider {
  position: relative;

  margin-bottom: 40px;
}

.slide-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 278px;
  margin-top: 178px;
  margin-left: 310px;
  padding: 10px 35px;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: -103px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#sld-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/main_1.png");
}

#sld-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/main_2.png");
}

#sld-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/main_3.png");
}

#sld-1:checked ~ .site-wrapper #slide1,
#sld-2:checked ~ .site-wrapper #slide2,
#sld-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#sld-1:checked ~ .site-wrapper label[for="sld-1"],
#sld-2:checked ~ .site-wrapper label[for="sld-2"],
#sld-3:checked ~ .site-wrapper label[for="sld-3"] {
  background-color: #ffffff;
}

/* #sld-1:focus ~ .site-wrapper label[for="sld-1"],
#sld-2:focus ~ .site-wrapper label[for="sld-2"],
#sld-3:focus ~ .site-wrapper label[for="sld-3"] {
  background-color: #ffffff;
} */

/*-------------------------------------------------*/

.main {
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.free_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.offer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px;
  padding-top: 16px;
}

.free_items .offer_title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

.free_items .offer_data {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  font-size: 18px;
  line-height: 22px;
}

.free_items .offer,
.free_items .offer:first-child {
  max-width: 560px;
  min-height: 230px;

  background-color: #ec5413;
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.free_items .offer:last-child {
  background-color: #804000;
  background-image: url("../img/layer_choco.jpg");
  background-size: cover;
  border-radius: 15px;
}

.offer.item--chocolate .btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 189px;
  margin-left: auto;
  padding: 10px 15px;

  vertical-align: middle;
  text-align: center;
}

.offer.item--rusberry .btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 165px;
  margin-left: auto;
  padding: 10px 15px;

  text-align: center;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  cursor: pointer;
}

/*------------------*/

.description {
  font-weight: 400;
  color: black;
}

.advantage_title h3 {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages_list .advantage_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.description {
  margin-top: 38px;
}

.advantages_list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -ms-flex-pack: distribute;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.advantages_list .advantage.item {
  position: relative;

  width: 485px;
  padding-left: 57px;
}

.advantage.item .advantage_description:before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;

  display: block;
  width: 49px;
  min-height: 49px;

  background-size: cover;
  border-radius: 16px;
}

.advantages_list .advantage.item:nth-child(2),
.advantages_list .advantage.item:nth-child(4) {
  width: 475px;
}

.advantage.item:nth-child(1) .advantage_description:before {
  background-image: url("../img/ice-cream.svg");
}

.advantage.item:nth-child(2) .advantage_description:before {
  background-image: url("../img/cow.svg");
}

.advantage.item:nth-child(3) .advantage_description:before {
  background-image: url("../img/eco.svg");
}

.advantage.item:nth-child(4) .advantage_description:before {
  background-image: url("../img/thermometer.svg");
}

.description .description_info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1146px;
  height: 306px;
  padding: 25px 30px 30px 20px;

  background-color: #804000;
  background-image: url("../img/waffle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

/*----------------------------*/

.about-us {
  margin-top: 40px;

  color: black;
}

.about-us.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.news .news_title {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  font-size: 16px;
  line-height: 22px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  padding: 22px 20px 10px 19px;

  background-color: lightgray;
  background-image: url("../img/layer_strawberry.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.new_text {
  width: 290px;
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.new_text a {
  color: #000000;
}


.about-us .subs {
  z-index: 0;
  top: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 560px;
  min-height: 220px;
  left: 24.5%;
  background-color: #f8f7f4;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.subs .wrap {
  width: 511px;
  margin: 0 auto;
  padding: 29px 18px 29px 21px;
  background-color: #f8f7f4;
  min-height: 150px;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.subs p {
  margin-bottom: 35px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: normal;
} 

.wrap-input-newsletter {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.input-newsletter input[type="email"] {
width: 349px;
margin-right: 4px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 15px;
border: 1px solid rgba(70, 70, 70, 0.48);
border-radius: 4px;
min-height: 13px;
}

.subs-button {
width: 130px;
height: 45px;
font-size: 18px;
line-height: 22px;
color: white;
padding-top: 9px;
padding-bottom: 10px;
text-align: center;
}

.overlay-feedback-hide {
  display: none;
}

.overlay-feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 250;
}

.feedback-hide {
display: none;
}

.feedback {
position: fixed;
top: 50%;
left: 50%;
width: 429px;
padding: 17px 24px 26px 26px;
color: #323232;
background-color: #f8f7f4;
border-radius: 9px;
min-height: 390px;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
z-index: 300;
}

.feedback p {
margin-top: 0px;
margin-bottom: 22px;
font-size: 24px;
line-height: 28px;
}

.feedback-show {
display: none;
}

.feedback-active {
display: block;
}

.input-field {
position: relative;
display: inline-block;
margin: 0;
padding: 0;
vertical-align: top;
}

.feedback input {
width: 251px;
margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
width: 267px;
padding-top: 7px;
padding-bottom: 6px;
padding-left: 14px;
font-size: 16px;
line-height: 24px;
color: #323232;
border: 1px solid rgba(70, 70, 70, 0.48);
border-radius: 3px;
min-height: 29px;
outline: none;
}

.feedback textarea {
width: 410px;
height: 141px;
margin-bottom: 16px;
}

.feedback .btn {
float: right;
width: 138px;
padding: 0;
margin: 0;
font-weight: 700;
color: white;
min-height: 46px;
}


/*-----------------------------------*/

.map_container {
  position: relative;
}

.feedback-close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 22px;
  height: 22px;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.feedback-close::before,
.feedback-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #323;
}

.feedback-close::before {
  transform: rotate(45deg);
}

.feedback-close::after {
  transform: rotate(-45deg);
}

.map_form {
  position: absolute;
  top: -375px;
  right: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 302px;
  padding: 0 25px;
  padding-top: 28px;
  background-color: #fefefe;
  border-radius: 15px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  z-index: 2;
}

.map_form_paragraph {
  width: 155px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  z-index: 2;
}

.map_form_paragraph:nth-child(2) {
  width: 180px;
  margin-top: 22px;
  margin-top: 19px;
  padding-bottom: 25px;
  z-index: 2;
}

.map_form_paragraph_bold {
  display: block;
  width: 230px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  z-index: 2;
}

.map_form_paragraph:nth-child(2) .map_form_paragraph_bold {
  padding-top: 5px;
}

iframe {
  width: 100%;
  min-height: 430px;
  border: 0;
}

.mymap {
  position: relative;
  width: 100%;
  height: 429px;
  margin-top: 40px;
  color: #000000;
  background-image: url("../img/mymap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.map_form_btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 251px;
  margin-bottom: 32px;
  padding: 10px 20px;

  text-align: center;
  z-index: 2;
}

.contacts-tel {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  z-index: 2;
}
  
/*-------------------------------------*/

.main_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-top: 1px solid #a9bbb1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

}

.footer_info_item .link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.footer_info_item {
  flex-grow: 1;
  width: 50%;

  text-align: left;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.footer_info_item:first-of-type > a {
  font-weight: 700;
}

.footer_description {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.footer_description .link {
  align-self: flex-start;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  -ms-flex-item-align: start;
}

.footer_info_list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 330px;
  margin: 0;
  margin-top: 32px;
  margin-right: 15px;
  padding: 0;

  list-style: none;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.footer_social_list {
  margin: 0;
}

.footer_social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  padding: 0;

  list-style: none;
}

.social_button {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-right: 11px;

  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  opacity: 0.6;
}

.social_button:hover {
  opacity: 1;
}

.social_button:active {
  opacity: 0.6;
}

.social_button:nth-child(4) {
  margin-right: 0;
}

.footer_info_list .footer_info_item:first-child .link:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;

  width: 15px;
  min-height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer_copyright {
  position: relative;

  margin-top: 25px;
  margin-top: 62px;
}

.footer_copyright .footer_description:before {
  content: "";
  position: absolute;
  top: -43px;
  bottom: 26px;

  display: block;
  width: 108px;
  min-height: 39px;

  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
}

.link {
  font-weight: 500;
  color: white;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link_active {
  background-color: #d07058;
  color: #ffffff;
}

.link:visited {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.link:hover,
.link:active,
.link:focus {
  color: #ffbc9e;

  border-bottom: 1px solid #ffbc9e;
}

/*------------------------------*/

.modal_feedback {
  position: fixed;
  top: 308px;
  left: 50%;
  z-index: 100;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 477px;
  margin-left: -240px;
  padding: 20px 25px 25px 25px;

  color: #000000;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.feedback_form_title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.modal_feedback_form {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.modal_feedback_form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 426px;
  height: 153px;
  margin-bottom: 26px;
  padding: 10px 15px;

  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 0 gray;
          box-shadow: 0 0 1px 0 gray;

  resize: none;
}

.modal_feedback_form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 265px;
  margin-bottom: 20px;
  padding: 9px 15px;

  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 0 gray;
          box-shadow: 0 0 1px 0 gray;
}

.feedback_form_btn {
  position: absolute;
  top: 0;
  right: -8px;

  width: 17px;
  min-height: 17px;

  background-color: transparent;
  border: none;
}

.feedback_form_btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 17px;
  min-height: 17px;

  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
}

.modal_feedback_form .btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 138px;
  margin-left: auto;
}

/*-------------Catalog--------------------*/

.header_navigation.active > a {
  color: #ffffff;

  background-color: #d07058;
}

.modal_menu .active {
  background-color: rgba(208, 112, 88, 1);
}

.main_header {
  position: relative;
}

.navigation_menu_list {
  position: absolute;
  bottom: 0;
  left: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation_menu_list li {
  position: relative;

  margin-right: 22px;
}

.navigation_menu_list li:not(:nth-child(3))::after {
  content: "»";
  position: absolute;
  bottom: 0;
  left: 60px;
}

.navigation_menu_list .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.navigation_menu_elem:nth-child(3) .link {
  border-color: transparent;
}

.general_title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

.main.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.user_navigation.basket span {
  padding-left: 2px;

  color: #000000;
}

.user_navigation.basket  a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


form {
display: block;
margin-top: 0px;
}

.filters {
margin-bottom: 40px;
}

.filters>.filters-label:first-child {
width: 193px;
}

.filters>.filters-label, fieldset {
font-weight: 500;
font-size: 14px;
line-height: 16px;
}

.filters>.filters-label {
margin-right: 13px;
}

.filters>.filters-label, fieldset {
display: inline-block;
vertical-align: top;
}

.filters-label:first-child .filter-title, fieldset:nth-of-type(2) .filter-title {
margin-left: 16px;
}

fieldset:nth-of-type(2) .filter-title {
  padding-top: 17px;
}

.wrap-select-sort {
width: 193px;
margin: 5px 0 0;
padding: 0;
overflow: hidden;
border-radius: 15px;
min-height: 17px;
}

select[name=sort] {
width: 330px;
margin: 0;
padding: 8px 22px 7px 11px;
color: #fff;
background-color: #aabcb2;
background-image: url("../img/select-arrow.svg");
background-repeat: no-repeat;
background-position: 170px center;
border: 0;
min-height: 32px;
}

.btn-filter, .container-buttons, .filter-cost, input[type=range], select[name=sort] {
font-size: 16px;
line-height: 18px;
border-radius: 18px;
}

.container-buttons input:focus {
  outline: 1;
}

option {
font-weight: normal;
display: block;
white-space: pre;
min-height: 1.2em;
padding: 0px 2px 1px;
}

.filters>.filters-label:nth-child(2) {
width: 218px;
height: 58px;
}

.filters-label:nth-of-type(2) .filter-title, fieldset:nth-of-type(1) .filter-title {
margin-left: 14px;
}

.filter-cost {
position: relative;
width: 218px;
margin-top: 5px;
background-color: #aabcb2;
}

.btn-filter, .filter-cost {
height: 37px;
}

.filter-cost .scale {
position: absolute;
top: 16px;
left: 15px;
width: 188px;
height: 4px;
background-color: #fff;
opacity: .5;
}

.filter-cost .bar, .filter-cost .range-toggle {
position: absolute;
top: 16px;
left: 44px;
width: 98px;
height: 4px;
background-color: #fff;
}

.filter-cost .range-toggle {
top: 8px;
left: 34px;
width: 20px;
height: 20px;
border-radius: 50%;
cursor: pointer;
}

.filter-cost .range-toggle:last-child {
position: absolute;
top: 8px;
left: 132px;
}

fieldset, legend {
margin: 0;
padding: 0;
border: 0;
}

.container-buttons {
height: 21px;
padding: 8px 3px 8px 16px;
}

.container-buttons, input[type=range] {
margin-top: 5px;
background-color: #aabcb2;
}

.filters input[type=checkbox], .filters input[type=radio] {
display: none;
}

fieldset:first-of-type label {
padding-left: 29px;
top: 3px;
}

fieldset label {
position: relative;
margin-right: 15px;
padding: 0;
cursor: pointer;
}

input[type=checkbox]:checked+label::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 25px;
height: 23px;
background-color: inherit;
background-image: url("../img/checkbox-on.svg");
}

fieldset:last-of-type label::after {
content: "";
position: absolute;
left: 0;
top: 0;
width: 19px;
height: 19px;
background-color: inherit;

border: 2px solid #fff;
border-radius: 3px;
}

fieldset:first-of-type label::after {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 18px;
  height: 18px;
  border: 3px solid #eef1ef;
  border-radius: 50%;
}

input[type=radio]:checked+label::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 12px;
  height: 12px;
  background-color: #eef1ef;
  border-radius: 50%;
}

fieldset:nth-of-type(2) .container-buttons {
padding-right: 5px;
}

fieldset:last-of-type label {
margin-right: 16px;
padding-left: 32px;
}

.btn-filter {
margin: 37px 0 0 11px;
padding: 5px 26px 5px 28px;
font-weight: 500;
color: #fff;
background-color: #abbcb2;
border: 2px solid #fff;
min-height: 37px;
cursor: pointer;
}

select[name=sort]:hover {
color: #323;
background-color: rgba(255, 255, 255, 1);
background-image: url("../img/marker-black.svg");
}

select[name=sort]:focus {
color: #323;
background-color: rgba(255, 255, 255, 1);
background-image: url("../img/marker-black.svg");
}



/*--------------------------*/

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.products_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.paginator__nav {
  margin-top: 43px;
  margin-bottom: 30px;
  margin-left: auto;
}

.paginator_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  padding-top: 33px;
  list-style: none;
}

.paginator__item {
  margin-right: 9px;
}

.paginator__item:nth-child(6) {
  margin-right: 0;
}

.paginator__item:nth-child(7),
.paginator__item:nth-child(1) {
  position: relative;
}

.paginator__item:nth-child(7)::after,
.paginator__item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;

  width: 10px;
  height: 13px;
  margin: 0;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.paginator__item:nth-child(1)::before {
  top: 6px;
  right: 0;

  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.35;
}

.paginator__item a:hover {
  color: #000000;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.paginator__item:nth-child(2) a {
  color: #000000;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.paginator__item a {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  min-height: 26px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

  /*----------------footer----------------*/

.link_footer {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  ;
}

.footer_info_list:first-of-type > .link_footer {
  font-weight: 700;
  line-height: 16px;
}  

.footer_description .catalog {
  line-height: 18px;
}

.table {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

/*--------------------------------------*/

.user_navigation.basket:hover .modal_basket {
  display: block;
}

.modal_basket {
  
}

.modal_basket {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; */
  width: 540px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: none;
  position: absolute;
  top: 42px;
  right: 0;
  z-index: 2;
}


.modal_basket p {
  font-size: 15px;
  line-height: 18px;
  text-align:  right;
}

.modal_basket .btn {
  font-weight: 700;
}

.modal_basket_res_btn.btn {
  width: 170px;
  padding: 10px;
  display:  block;
  margin-left:  auto;
}

.modal_basket {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 540px;
  padding: 28px 20px 20px 20px;
  color: #000000;
  background-color: #f8f7f4;
  border-radius: 5px;
/*   box-shadow: 0 5px 5px 0px #000; */
}


.table_row_item:first-child .table_data:nth-child(3),
.table_row_item:nth-child(2) .table_data:nth-child(3) {
  width: 220px;
  padding-left: 72px;
}

.table_row_item:first-child .table_data:nth-child(1),
.table_row_item:last-child .table_data:nth-child(1),
.table_row_item:first-child .table_data:nth-child(2),
.table_row_item:last-child .table_data:nth-child(2) {
  position: relative;
}

.table_row_item:first-child .table_data:nth-child(1)::before,
.table_row_item:first-child .table_data:nth-child(1)::after,
.table_row_item:last-child .table_data:nth-child(1)::before,
.table_row_item:last-child .table_data:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.table_row_item:first-child .table_data:nth-child(1)::after,
.table_row_item:last-child .table_data:nth-child(1)::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.table_row_item:first-child .table_data:nth-child(2)::after,
.table_row_item:last-child .table_data:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  width: 33px;
  height: 33px;
  background-image: url("../img/ice-basket-1.png");
  background-repeat: no-repeat;
}

.table_row_item:last-child .table_data:nth-child(2)::after {
  background-image: url("../img/ice-basket-2.png");
}

.modal_basket_res {
  margin-left: auto;
}

.modal_basket_res p {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 12px;
}

.table_row_item:first-child td {
  padding-bottom: 38px;
}

.table_row_item:nth-child(2) td {
  padding-bottom: 18px;
}

.table_row_item .table_data:nth-child(4),
.table_row_item .table_data:nth-child(5) {
  padding-left: 30px;
  /* text-align: right; */
}
/*---------------------------------------------------------------*/



.icecreams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.icecream,
.product {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 267px;
  margin-bottom: 40px;
}

.icecream::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -13px;
  bottom: -70px;
  left: -13px;
  z-index: 2;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}

.icecream_btn {
  position: relative;

  visibility: hidden;
  opacity: 0;
}

.icecream:hover::before,
.product:hover::before,
.icecream:focus::before,
.product:focus::before {
  display: -webkit-box;
  display: -ms-flexbox;

  visibility: visible;
  opacity: 0.5;
}

.icecream_price .price {
  font-size: 45px;
  line-height: 45px;
}

.icecream_price .measure {
  font-size: 30px;
  line-height: 45px;
}

.icecream_inner {
  position: relative;
}

.icecreams_container_image > img {
  border-radius: 150px;
}

.icecream_price {
  position: absolute;
  top: 210px;
  left: 0;

  margin: 0;
  padding: 0;
}

.icecream_btn {
  position: relative;
}

.hidden-btn {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  padding: 9px 0;

  text-align: center;
}

.icecream-hit {
  position: relative;
}

.icecream-hit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  width: 60px;
  height: 60px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.icecream_price .symbol {
  display: inline-block;
  width: 26px;
  min-height: 31px;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.icecream_description {
  margin: 0;
  padding-top: 8px;

  text-align: center;
}

.icecream_btn {
  visibility: hidden;
  opacity: 0;
}

.icecream:hover .icecream_inner,
.product:hover  .icecream_inner,
.icecream:focus .icecream_inner,
.product:focus  .icecream_inner {
  position: relative;
  z-index: 2;
}

.icecream:hover .icecream_btn,
.product:hover  .icecream_btn,
.icecream:focus .icecream_btn,
.product:focus  .icecream_btn {
  position: absolute;
  bottom: -5px;
  left: 25px;
  z-index: 3;

  visibility: visible;
  opacity: 1;
}


.icecream_description a:hover,
.icecream_description a:focus {
  color: #ffbc9e;
}

.product::before {
  content: "";
  position: absolute;
  top: -13px;
  right: -13px;
  bottom: -31px;
  left: -13px;
  z-index: 2;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
}

.product .hidden-btn {
  top: -35px;
}

.product {
  padding-bottom: 38px;
}

.show-form {
  display: block;
}